@import "../../../styles/variables";

.btnGhost:active {
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 2px;
}

/*Ghost*/
.btnGhost {
    padding: 7px 12px;
    text-transform: uppercase;
    font-size: 17px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.47);
    border-radius: 3px;
    color: $main-cl;
    border: 2px solid $main-cl;
    background-color: #fff;
}

.btnGhost:disabled {
    background-color: rgb(237,238,240);
    color: $grey;
    box-shadow: none;
    border: 2px solid rgb(237,238,240);
}
