
.innerClass {
    display: flex;
    align-items: center;
    justify-content: center;
}

.activeClass {
    
}

.activeLinkClass {
    background-color: #337ab7 !important;
    color: #fff !important;
    border: 1px solid #337ab7 !important;
}

.itemClass {
    
}

.linkClass {
    display: block;
    padding: 7px 15px;
    background-color: #fff;
    color: #23527c;
    border: 1px solid #ccc;
}

.itemClassFirst {
    
}

.itemClassPrev {
    
}

.itemClassNext {
    
}

.itemClassLast {
    
}

.linkClassNext {
    padding: 6px 15px;
}