@import "../../styles/variables";

.section {
    padding: 25px 25px;
    box-shadow: $shadow;
    height: 100vh;
    flex:0 0 auto;
    width: 74px;
    z-index: 11;
}

.item a {
    color: $grey;
    padding: 10px 0px;
    display: inline-block;
}

.item a:hover {
    color: $main-cl;
}