/*----- Specify -----*/
* {
  box-sizing: border-box;
  transition: all .1s ease;
}

body {
  font-size: 16px;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

textarea {
  border: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

ul, li {
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-wrap: wrap;
}

.content {
  flex-grow: 1;
  padding: 25px;
  background-color: rgb(239,239,239);
}


